.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0.5rem;
}

.chart,
.analysis {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 20px;
}



@layer my-components {
  .footer {
    padding: 0.5rem;
    text-align: center;
    .content {
      background-color: #f4f4f4;
      padding: 1rem 0;
    }
  }
}

/* Các quy tắc truy vấn container */
@container (min-width: 600px) {
  .main-content {
    grid-template-columns: 1fr 1fr;
  }
}

@container (min-width: 900px) {
  .main-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}